name: Publish
on:
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org
      - name: Debug npm config location
        run: |
          npm config get userconfig
          npm config get registry
      - name: Publish package to npm
        run: |
          cp README.md packages/affected/
          npm publish -w packages/affected --provenance
